--extra-index-url https://download.pytorch.org/whl/cu118

PyQt5
PyQt5-sip
edge-tts
pydub
pygame
pillow
typing-extensions>=4.14.1
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118
demucs
